<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.albertonicoletti.latex" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.EditorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-latex" />
                <data android:mimeType="application/x-tex" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-latex" />
                <data android:mimeType="text/x-tex" />
                <data android:mimeType="text/vnd.latex-z" />
            </intent-filter>
            <intent-filter
                android:label="@string/app_name"
                android:priority="50" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.tex" />
                <data android:pathPattern=".*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.tex" />
            </intent-filter>

            <intent-filter
                android:label="@string/app_name"
                android:priority="50" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />

                <data android:pathPattern=".*\\.tex" />
                <data android:pathPattern=".*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.tex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.tex" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.FileChooserActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings" >
        </activity>

        <activity
            android:name=".activities.OpenSourceLicencesActivity"
            android:label="@string/open_source_title" >
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about" >
        </activity>

    </application>

</manifest>
